html, body{
    margin:0;
    padding:0;
}
.content_editor{
    width:100%;
    max-width: 980px;
    left:0;
    right:0;
    margin:auto;
    position: relative;
}

.content_editor input:focus,
.content_editor select:focus,
.content_editor textarea:focus,
.content_editor button:focus {
    outline: none;
    overflow:hidden;
}
.content_editor textarea{
    overflow:hidden;
    resize: none;
}

.content_editor.light{
    background-color:#FFFFFF;
}
.content_editor .tool_bar{
    height:45px;
    width:auto;
    position: absolute;
    left:0;
    overflow: hidden;
    width: 45px;
    box-sizing: border-box;
    margin-left 20px;
    top:20px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 1;
    border:1px solid #E3E3E3;
    border-radius: 45px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    border-radius: 45px;
}

.content_editor .tool_bar.opened{
    width:300px;
    -moz-box-shadow: 2px 2px 25px -10px #656565;
    -webkit-box-shadow: 2px 2px 25px -10px #656565;
    -o-box-shadow: 2px 2px 25px -10px #656565;
    box-shadow: 2px 2px 25px -10px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=25);
}
.content_editor .tool_bar .open_close{
    width:45px;
    height:45px;
    border-radius: 100%;
    background-color:#FFFFFF;
    position: relative;
    float: left;
    text-align: center;
    background-image:url(../images/assets/more.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    box-sizing: border-box;
}
.content_editor .tool_bar.opened .open_close{
    background-image:url(../images/assets/less.svg);
    
}

.content_editor .tool_bar ul.content_tools{
    float:left;
    margin:0;
    padding:0;
    height:45px;
    width:300px;
    max-width: 300px;
    display: inline-block;
    box-sizing: border-box;
    background-color:#FFFFFF;
}
.content_editor .tool_bar ul.content_tools li{
    display: inline-block;
    width:45px;
    height:45px;
    list-style: none;
    text-align: center;
    cursor: pointer;
    opacity: .5;
    -webkit-transition: opacity .5s linear;
    -moz-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
    transition: opacity .5s linear;
}
.content_editor .tool_bar ul.content_tools li:hover{
    opacity: 1;
}
.content_editor .tool_bar ul.content_tools li img{
    width:100%;
    height:100%;
    pointer-events: none;
}

.content_editor section{
    width:100%;
    padding:20px;
    box-sizing: border-box;
}
.content_editor ul.option_component{
    position: absolute;
    right:0;
    top:0;
}
.content_editor ul.option_component li{
    list-style: none;
    width:45px;
    height:45px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.content_editor section .component{
    width:100%;
    box-sizing: border-box;
    display: table;
    position: relative;
}
.content_editor section .component:hover{
    background-color:#F9F9F9;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.content_editor textarea,
.content_editor input{
    background: none;
}
.content_editor .title_input{
    width:100%;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    border:none;
    padding:20px;
    background: none;
}
.content_editor .text_input{
    width:100%;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 23px;
    line-height: 38px;
    text-align: justify;
    font-weight: 200;
    border:none;
    padding:20px;
}
.content_editor .list_input{
    width:100%;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    text-align: justify;
    font-weight: 600;
    border:none;
    padding:10px;
}
.content_editor .list_input{
    
}